<div class="footer g-body">
  <div class="article-credits">
    <each
      loop="item in (typeof footer === 'undefined' ? [] : footer.split('\n'))"
    >
      <p>See our New York City homeless population and Meal Gap mapping data <b><a href ="https://github.com/graphicsdesk/covid-food-insecurity">here.</a></b></p>
    </each>
    <p>
      Produced with
      <a href="https://github.com/graphicsdesk/spectate">Spectate</a> by the
      <a href="https://graphicsdesk.github.io">Spectator Graphics</a> team.
    </p>
  </div>
</div>
